apiVersion: v1
kind: ServiceAccount
metadata:
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::ACCOUNT_ID:role/test-pod-role
  name: test-pod-sa
---
apiVersion: v1
kind: Pod
metadata:
  name: test-pod
spec:
  serviceAccount: test-pod-sa
  containers:
  - name: test
    image: alpine:3.12
    command:
    - /bin/sh
    - -c 
    - "sleep 36000"
